body {
  font-size: 24px;
  font-family: YuMincho;
  line-height: 1.5;
  color: #333;
}

a {
  position: relative;
  text-decoration: none;
  color: #c36;
}

a:before {
  content: "";
  position: absolute;
  display: block;
  background: #c36;
  height: 0.1em;
  top: 0;
  right: -.25em;
  bottom: 0;
  left: -.25em;
  margin: auto 0;
  white-space: nowrap;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform .25s;
}

a:hover:before {
  transform-origin: 0 50%;
  transform: scaleX(1);
}

.post {
  width: 768px;
  margin: 0 auto;
  padding: 2em 0;
  border-bottom: solid 1px #ccc;
  white-space: pre-line;
}

.post:last-of-type {
  border-bottom: none;
}

.post h1 {
  font-size: 2em;
  margin: 1em 0;
  color: #c36;
}

.post h1 a:before {
  display: none;
}

.post h2 {
  font-weight: bold;
  font-size: 1.25em;
  margin: 2em auto 0 auto;
}

.post p {
  margin: 1em 0;
}

.post .post-date {
  margin: .5em 0 -2em 0;
}

.post .post-more {
  margin: 2em 0 1em 0;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .blog-title {
    position: absolute;
  }
 
  .post {
    width: auto;
    margin: 0 2em;
  }
}
