//- date: 2016-01-21
//- title: 静的ブログエンジン書いた
//- tags: js, node, jade

p.
  ブログを書こうと思いたったはいいものの、
  いい感じのブログエンジンが見つからない。

p.
  Wordpress は懲り懲りだし、
  Rails だとなんかおおごとだし、
  ブログサービスは使いたくないし……。

p.
  そもそも、頻繁に更新もしないのだから、
  静的なサイトジェネレータでよい。

p.
  と思って、<a href="https://jekyllrb.com/" target="_blank">Jekyll</a> なんかも調べてみたり、
  <a href="https://www.gitbook.com/" target="_blank">Gitbook</a> も見てみたりしたのだけど、
  どうしてなかなかしっくりこない。

p.
  迷った挙句、
  「静的なブログジェネレータぐらいなら、普通に書けるのでは？」
  と思い立ち、
  node でゴリゴリと書いて生まれたのが、このサイトです。

p.
  もともと、自分用に書いたものだから、
  コードが少ないぐらいしかメリットがないんだけど、
  愛着はわくさね。
